<!DOCTYPE html>

<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./styles.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <div class="trade-detail-modal animated fadeIn" :class="{'close-modal':!modal}" v-if="modal">
      <div class="trade-details">
        <h2 class="trade-header"><b>Trade Details</b></h2>

        <div class="trade-content">
          <p><b> Name :</b></p>
          <p>{{ tradeObject.name }}</p>
        </div>
        <div class="trade-content">
          <p><b> Postcode :</b></p>
          <p>{{ tradeObject.postcode }}</p>
        </div>
        <div class="trade-content">
          <p><b> Address:</b></p>
          <p>{{ tradeObject.address }}</p>
        </div>
        <div class="trade-content">
          <p><b> City:</b></p>
          <p>{{ tradeObject.city }}</p>
        </div>
        <div class="trade-content">
          <p><b> Email:</b></p>
          <p>{{ tradeObject.email }}</p>
        </div>
        <div class="trade-content">
          <p><b> Phone Number:</b></p>
          <p>{{ tradeObject.phone_number }}</p>
        </div>
<div class="pt-4 pb-2"> 
  <h5> <b> Days trade open and close</b></h5>
</div>
        <div style="display:flex">

          <div>
            <p class="pr-2">Monday</p>
            <p class="pr-2">Tuesday</p>
            <p class="pr-2">Wednesday</p>
            <p class="pr-2">Thursday</p>
            <p class="pr-2">Friday</p>
            <p class="pr-2">Saturday</p>
            <p class="pr-2">Sunday</p>
          </div>


          <div>
            <p class="pr-2" v-for="day in days"><span v-if="isTradeOpen(day,tradeObject.hours)"  class="open-day">open</span> <span v-else>closed</span></p>

          </div>


        </div>
        <div style="text-align:right; margin-top: 15px">
          <button class="view-trade" @click="closeModal">close</button>
        </div>
      </div>
    </div>

    <div class="hero-img">
      <div class="hero-child-1">
        <h1>Trade with security in mind. Trade Circuit.</h1>

        <p>Find the most secure trades on trade circuit</p>

        <button class="cta-btn">Trade Now</button>
      </div>
    </div>



    <div class="trade-div">
      <h3 class="text-center" style="margin:30px"><b>POPULAR TRADES </b></h3>

      <div class="text-center input-div">
        <input type="text " v-model="searchString" placeholder="search trades" class="search-input" />
      </div>
      <div class="overlay" v-if="loader">
        <div class="ball a"></div>
        <div class="ball b"></div>
        <div class="ball c"></div>
      </div>
      <div class="trade-parent">
        <div class="container">
          <div class="row">
            <div class="trade-block col-md-4 col-sm-6 co-lg-4 col-12" v-for="trade in computedTradeData"
              :key="trade._id" @click="getTrade(trade)">
              <img src="./images/trade.png" alt="" height="100" />

              <div class="trade-data">
                <p class="pr-2"><b> Name : </b></p>

                <p>{{ trade.name }}</p>
              </div>
              <div class="trade-data">
                <p class="pr-2"><b> postcode : </b></p>
                <p class="pr-2">{{ trade.postcode }}</p>
              </div>
              <div class="trade-data">
                <p class="pr-2"><b> Address : </b></p>
                <p class="pr-2">{{ trade.address }}</p>
              </div>
              <button class="view-trade" @click="getTrade(trade)">
                View Trade
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: "Hello Vue!",

        tradeData: [],
        searchString: "",
        modal: false,
        loader: true,
        tradeObject: '',
        days: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
      },

      methods: {

        isTradeOpen(day, hoursArray) {
          return hoursArray.find(item => item.day === day)

        },

        getTradeData() {
          this.loader = true;
          let vm = this;
          axios
            .get("https://wrenew-backend.herokuapp.com/api/trades")
            .then(function (response) {
              // handle success
             
              vm.tradeData = response.data.trades;
              vm.loader = false
            })
            .catch(function (error) {
              // handle error
              vm.loader = false
            })
            .finally(function () {
              // always executed
            });
        },

        getTrade(trade) {
          this.modal = true;


          this.tradeObject = trade;
        },

        closeModal() {
          this.modal = false;
        }
      },

      computed: {
        computedTradeData() {
          return this.tradeData.filter(trade => {
            return trade.name
              .toLowerCase()
              .match(this.searchString.toLowerCase());
          });
        }
      },

      mounted() {
        this.getTradeData();
      }
    });
  </script>
</body>

</html>