body,
html {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
p {
  margin: 0;
  margin-bottom: 20px;
}


h1, h2{
font-family: "Open Sans", sans-serif;
font-weight: 400;
}
.hero-img {
  min-height: 50vh;
  min-width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./images/tradeBg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-child-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 50vh;
  flex-direction: column;
  text-align: center;
}

.hero-child-1 p {
  font-size: 16px;
}

.cta-btn {
  background: #fff;
  width: 250px;
  height: 50px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.trade-div {
  background: #fafafa;
  min-height: 100px;
  padding: 20px;
  box-sizing: border-box;

}

.text-center {
  text-align: center;
}


.trade-block {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
  transition: 150ms all ease;
  cursor: pointer;
  transition: 0.9s;
  box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
  min-height: 300px;  
  border:3px solid #fafafa;
}

.trade-block:hover {
  transition: 0.9s;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1),
    0 8px 15px rgba(0, 0, 0, 0.03);
}
.input-div {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.search-input {
  min-width: 250px;
  height: 40px;
  outline: none;
  padding: 5px;
}

.trade-data {
  border: 1px solid #f2f2f2;
  background: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  min-height: 50px;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.view-trade {
  height: 40px;
  border: 1px solid #1d9bd1;
  background: #1d9bd1;
  color: #fff;
  border-radius: 3px;
  width: 150px;
  cursor: pointer;
}

.trade-detail-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  overflow-y: scroll;
}

.trade-details {
  background: #fff;
  min-height: 600px;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
}

.trade-header {
  display: flex;
}
.trade-content {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  flex-grow: 1;
  padding-top: 20px;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em 0.625em 0.625em 0em !important;
  text-align: left;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  vertical-align: middle !important;
}

table td {
  white-space: nowrap;
  overflow: hidden;
  text-align: left !important;
}

table td:first-child,
th:first-child {
  padding: 0.757em !important;
}

.trade-content p {
  flex-grow: 1;
  text-align: left;
  flex-basis: 50%;
}

.close-modal{

  display: none;
}

.open-day{
  background:#1d9bd1; color:#fff; border-radius:5px;padding:5px;
  box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
}

@media (max-width: 767px) {
h1, h3{
    font-size: 20px;
    text-align: center;
  }
}

.overlay{
  display:flex;
  justify-content:center;
  align-items:center;
  width:auto;
  height:10vh;
}
/*BALLS SETTINGS*/
.ball{
  width:30px;
  height:30px;
  border-radius:15px;
  background:white;
  opacity:0.3;
}
.a{
  margin-right:10px;
  animation: ball-a 0.7s ease-out 0s infinite alternate;
  /*animation-tutorial: name duration ease delay iterate-count direction*/
}
.b{
  margin-right:10px;
  animation: ball-b 0.7s ease-out 0.2s infinite alternate;
}
.c{
  animation: ball-c 0.7s ease-out 0.4s infinite alternate;
}
/*ANIMATION STORAGE*/
@keyframes ball-a {
  from{
    height:20px;
    opacity:0.3;
    background:white;}
  to{
    height:70px;
    opacity:1;
    background:#59C159;}
}
@keyframes ball-b {
  from{
    height:20px;
    opacity:0.3;
    background:white;}
  to{
    height:65px;
    opacity:1;
    background:#3DA1EA;}
}
@keyframes ball-c {
  from{
    height:20px;
    opacity:0.3;
    background:white;}
  to{
    height:60px;
    opacity:1;
    background:#DD5050;}
}
